.age_gate {
	max-width: 450px;
	background: #f0f0f0;
	color: #68251f;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	margin: 0 auto;
	padding: 30px 30px 10px;
}

@media screen and (min-width: 420px) {
	.age_gate {
		border: 7px solid #fff;
	}
}

.age_gate-logo {
	display: block;
	margin: 0 auto 25px;
	width: 100%;
}

.age_gate-message {
	font-size: remCalc(14px);
	line-height: remCalc(21px);
	margin-bottom: 25px;
}

.age_gate-message.error {
	color: #c51511;
}

.age_gate-message p {
	margin: 0;
}

.age_gate-form {
	margin-bottom: 15px;
}

.age_gate-form select {
	margin-bottom: 10px;
}

.age_gate-form label {
	font-size: remCalc(11px);
}

.age_gate-form input[type="checkbox"] {
	margin: 0 3px;
}

.age_gate-form-checkbox-wrap {
	display: inline-block;
}

.age_gate-form-big_button {
	display: inline-block;
	background: #68251f;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 25px;
	padding: 8px 25px;
	transition: background .3s ease;
}

.age_gate-form-big_button:hover {
	background: #860a00;
}

.age_gate-small_print {
	width: 100%;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: remCalc(11px);
}

.mfp-age-gate.mfp-bg {
	background: #f0f0f0;
	opacity: 1;
	transition: background .3s ease, opacity .3s ease;
}

@media screen and (min-width: 420px) {
	.mfp-age-gate.mfp-bg {
		background: #0b0b0b;
		opacity: .8;
	}
}

.mfp-age-gate .mfp-container {
	padding: 0;
}

.u-disable-scroll .mfp-wrap ~ * {
	display: none;
}
