body {
	background: repeat center url('../images/Merf_Background.jpg');
	font-family: azo-sans-web, sans-serif;
	font-style: normal;
	font-weight: 500;
}

h1 {
	font-size: 3.5rem;
	text-align: center;
}

li {
	list-style: none;
	margin: 0;
}

ul.bulleted {
	margin: 0 0 3em 1.5em;
}

ul.bulleted li {
	list-style: square;
	margin-bottom: 1.5em;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #e7e7e7;
}

.columns {
	display: flex;
}

footer {
	background: #081F2D;
	padding: 1em 0;
	color: white;
	font-size: 12px;
}

.footer-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 0.5em;
	flex-wrap: wrap;
}

.footer-links li {
	margin: 0 1em;
}

.copyright {
	text-align: center;
	margin-bottom: 0;
}





.find-wine {
	background: #d22628;
	color: white;
	padding: 0.25em;
	font-family: 'Roboto Slab', serif;
}

.find-wine h4 {
	text-transform: ;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
}









.learn-more {
	background: url('../images/bg.jpg') no-repeat #d22628;
	color: white;
	padding: 0.75em;
	font-family: 'Roboto Slab', serif;
}

.learn-more h5 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.learn-more ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	flex-wrap: wrap;
}

.social-icon:hover {
	opacity: 0.75;
}

.right-col {
	padding: 100px 1em 0;
}

.copy {
	padding: 1em;
	color: #081F2D;
}

.copy p {
	margin-bottom: 1em;
}

.handle {
	font-size: 18px;
}

.center-img {
	display: block;
	margin: 0 auto;
}

.logo {
	display: block;
	margin-bottom: 2em;
	width: 250px;
}

.supply-chain-logo {
	margin: 3em auto;
	width: 220px;
}

.images {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.images img {
	align-self: center;
}

.images .merf-img {
	width: 100%;
}

.bottom-two-img {
	width: 223px;
	margin: 1em 0 0;
}

.merf-img-mobile {
	display: none;
}

/********* MEDIA QUERIES *******/

@media (max-width: 1175px) {
	.column {
		width: 100% !important;
		margin-left: 0%;
	}

	.right-col {
		padding-top: 1em;
		width: 400px;
		margin-bottom: 16px;
	}

	.copy,
	.learn-more {
		width: 500px;
		margin: 0 auto;
	}

	.images {
		margin: 0 auto 2em;
		width: 700px;
	}

	.images .merf-img {
		width: 223px;
		display: inline-block;
		margin: 1em 0 0;
	}
}

@media (max-width: 875px) {
	.images .dog {
		display: none;
	}

	.images {
		width: 500px;
	}

	.images {
		justify-content: space-around;
	}

	.copy,
	.learn-more {
		width: 500px;
	}
}

@media screen and (max-width: 650px) {
	.mobile-hide {
		display: none;
	}

	.copy,
	.learn-more {
		width: auto;
	}

	.learn-more ul li {
		padding: 0 1em;
	}
}

@media screen and (max-width: 610px) {
	.images .wines {
		display: none;
	}

	.images {
		width: auto;
	}

	.logo {
		display: none;
	}

	.images .merf-img {
		width: 100%;
		margin: 0;
	}

	.container {
		width: 100%;
	}

	.learn-more {
		padding: 1em 2em;
	}

	.right-col {
		padding-top: 0;
	}

	.merf-img {
		display: none !important;
	}

	.merf-img-mobile {
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.learn-more ul li {
		margin: 0;
	}
}

@media screen and (max-width: 500px) {
	.learn-more ul li {
		margin: 0;
	}
}

@media screen and (max-width: 400px) {
	.container {
		padding: 0;
	}
}

/* uncomment when "find our wines" is back */
/* @media screen and (max-width: 431px) {
	.seperator {
		color: transparent;
	}
}
 */

@media screen and (max-width: 380px) {
	.logo {
		top: 25%;
	}
}
